body {
    font-family: Arial, sans-serif;
    text-align: center;
background-color: #eeeeee;
    margin: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 30px;
}

h1 {
    margin: 0;
}

main {
    padding: 30px;
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.galeria img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

button {
    margin-top: 25px;
    padding: 12px 25px;
    cursor: pointer;
}

footer {
    margin-top: 30px;
    padding: 20px;
}